.image {
	display: flex;
	justify-content: flex-end;
}

.title {
	margin-bottom: 1rem;
}

.btn {
	background-color: black;
	outline: none;
	border: none;
	color: #ffff;
	width: 100%;
	height: 2rem;
	margin-top: 2rem;
}

.btn:hover {
	opacity: 0.8;
}

.choice {
	font-size: 0.8rem;
	font-weight: 600;
	color: green;
}

.new {
	font-size: 0.8rem;
	font-weight: 600;
}
