.card {
	transition: all 0.2s ease-in-out;
}
.card:hover {
	transform: scale(0.9);
}

.img {
	width: 100%;
	margin-bottom: 1rem;
}

.choice {
	font-size: 0.8rem;
	font-weight: 600;
	color: green;
}

.new {
	font-size: 0.8rem;
	font-weight: 600;
}

.card div {
	display: flex;
	justify-content: space-between;
}
